.card_info {
  padding-block: 22px;
  border-bottom: 1px solid $line;
}

.card_info_title {
  font-size: 22.2px;
  font-weight: 500;
  color: $white;
  transition: 0.3s;

  &:hover {
    color: $cyan;
  }
}

.card_info_content {
  color: $gray;
  font-size: 18.5px;
  font-weight: 300;
  padding-block: 19px 24px;
}

.card_info_data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data {
  display: flex;
  align-items: center;
  gap: 6px;
}

.data_content {
  font-size: 16.5px;
}

.data_price {
  color: $cyan;
  text-transform: uppercase;
}

.data_day{
    color: $gray;
}