$gray: rgb(139 172 218);
$cyan: #53b6e7;
$line: rgb(47 65 91);
$white: rgb(255 255 255);
$bg-body: linear-gradient(-10deg, rgb(17 3 3 / 100%) 0%, #084079 100%);
$bg-card: linear-gradient(360deg, rgb(17 3 3 / 80%) 20%, #19668d 100%);
